body, html {
    height: 100%;
}

.hero-image {
    background-image: url('../images/background-image.jpeg');

    min-height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image-long {
    background-image: url('../images/background-image.jpeg');

    min-height: 100%;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    height: 100%;
    color: white;
}

.main-text {
    line-height: 30px;
    text-align: center;
    font-size: x-large;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mission-block {
    display: flex;
    padding: 60px;
    background-color: #d9714e;
}

.mission-text {
    font-size: x-large;
}

.news-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;

}

.featured-title {
    font-size: x-large;
}

.news-image-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .news-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .news-image-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .news-logo {
        height : 35px;
        padding: 30px;
    }

}
@media (min-width: 550px) {
    .news-link {
        height: 40px;
    }
 }


.news-logo {
    height : 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}

.footer-icon-block {
    display: flex;
    flex-direction: row;
}

.social-media-icon {
    color:whitesmoke;
    font-size:24px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-input {
    color: gray;
    width: 100%;
    box-sizing: border-box;
}

.title {
    color: #d9714e;
}

.row {
    display: flex;
}

@media (max-width: 550px) {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

.landing-page-email-block {
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}

.response {
    background-color: #d9714e;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.tagline-text {
    font-weight: 600;
    font-size: large;
    line-height: 23px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    max-width: 60vw;
    width: 480px;
    padding: 50px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    display: block;
    background-color: whitesmoke;
}

.form {
    display: block;
    line-height: 14px; 
}

.form-label {
    margin-bottom: 10px;
    line-height: 18px;
}

.text-area-field {
    line-height: 16px;
    width: 100%;
}


.button-block {
    padding-top: 20px;
}

.sign-up-response {
    font-size: large;
}

#share-block {
    padding-top: 20px;
}

#fb-share-button {
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    font-family: Helvetica;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

#twitter-share-button {
    background: #1b95e0;
    border-radius: 3px;
    font-weight: 600;
    padding: 5px 8px;
    display: inline-block;
    position: static;
}

#twitter-share-button:hover {
    cursor: pointer;
    background: #0c7abf;
}

#twitter-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#twitter-share-button span {
    font-family: Helvetica;
    vertical-align: middle;
    color: white;
    font-size: 14px;
    padding: 0 3px
}

#access-code-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#access-code-box {
    background-color: rgb(216, 216, 216);
    text-align: center;
    padding: 15px;
}

#access-code-box span {
    font-weight: 600;
}